<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DreamTalk</title>
    <link rel="stylesheet" href="/css/list.css" />
  </head>
  <body>
    <%-include('nav.ejs') %>
    <h1 class="bigTitle">게시글 리스트</h1>

    <div class="list box">
      <table class="ab-table">
        <thead>
          <tr>
            <th scope="col" class="title2">
              <span>제목</span>
            </th>
            <th scope="col" class="content2">
              <span>내용</span>
            </th>

            <th scope="col" class="category2">
              <span>카테고리</span>
            </th>
            <th scope="col" class="date2">
              <span>작성일</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <%for(let i = 0; i < posts.length; i++){%>
            <tr class="posts">
              <td class="title1"><%=posts[i].title%></td>
              <td class="content1">
                <%=posts[i].content%>
                <a class="ab-link" href="/detail/<%=posts[i].post_id%>"></a>
              </td>
              <td class="category1">null</td>
              <td class="date1"><%=dayjs(posts[i].created_at).format('YYYY-MM-DD')%></td>
              </a>
            </tr>
            <%}%>
        </tbody>
      </table>
      
<%-include('footer.ejs') %>


    <script>
      let deletes = document.querySelectorAll(".delete");
      for (let i = 0; i < deletes.length; i++) {
        deletes[i].addEventListener("click", function (e) {
          fetch("/delete?docid=" + e.target.dataset.id, {
            method: "DELETE",
          })
            .then((r) => r.json())
            .then((r) => {
              (e.target.parentElement.style.display = "none"), console.log(r);
            })
            .then(() => {
              alert("삭제 완료");
            });
        });
      }
    </script>
  </body>
</html>
